[project]
name = "curious-checker"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    "loguru>=0.7.3",
    "polars>=1.35.1",
    "streamlit>=1.51.0",
]
